/* General styles for the container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  padding: 20px 0; /* Add padding to top and bottom */
}

.box {
  width: 100%;
  max-width: 500px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #fff;
  text-align: center;
  margin: 20px 0; /* Add margin to top and bottom */
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

.wlcm {
  font-size: 24px;
  color: #333;
}

.form {
  margin-top: 20px;
}

.form label {
  display: block;
  font-weight: 600;
  text-align: left;
  margin-bottom: 8px;
}

.form input,
.form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.form input:focus,
.form select:focus {
  border-color: #00b087;
}

.box button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  color: #fff;
  background-color: #00b087;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.box button:hover {
  background-color: #038365;
}

.forget {
  display: inline-block;
  padding: 4px 20px;
  color: #00b087;
  text-decoration: none;
  border-radius: 21px;
  height: 34px;
  font-size: 19px;
}

.forget:hover {
  text-decoration: underline;
}

.selection {
  text-align: center;
}

.section {
  margin-top: 20px;
  font-size: 16px;
}

.section p {
  display: inline;
  font-weight: 500;
}

.link {
  display: inline-block;
  margin-left: 8px;
  padding: 8px 16px;
  background-color: #00b087;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: #00b087;
}

.errorText {
  color: red;
  text-align: left;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .box {
    padding: 20px;
  }

  .logo {
    width: 100px;
  }

  .wlcm {
    font-size: 20px;
  }

  .form input,
  .form select {
    padding: 8px;
  }

  .box button {
    padding: 10px;
    font-size: 16px;
  }

  .link {
    padding: 6px 12px;
  }
}
