.aboutus {
  padding-top: 50px; /* Increased top padding for more space */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  color: black;
  text-align: center; /* Center text alignment for all columns */
}

.aboutus div {
  margin-bottom: 20px; /* Add margin between columns for better spacing */
}

.col1 img {
  padding-bottom: 20px;
  width: 150px; /* Adjusted size for better proportion */
  height: auto;
  padding-left: 0; /* Center align */
}

.col1 p,
.col2 p,
.col3 p,
.col4 p {
  font-size: 16px; /* Adjusted font size */
  line-height: 1.5;
  margin: 0 auto;
  max-width: 200px; /* Limit the width of text for better readability */
}

.col2 h1,
.col3 h1,
.col4 h1 {
  font-size: 20px; /* Adjusted heading font size */
  margin-bottom: 10px;
}

.col2 p,
.col3 p,
.col4 p {
  font-size: 16px; /* Adjusted font size for paragraphs */
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  font-size: 16px; /* Adjusted font size for links */
  text-decoration: none;
  color: black;
}

a:hover {
  color: #3c5252;
}

@media only screen and (max-width: 780px) {
  .aboutus {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .col3,
  .col4 {
    margin-top: 15%;
  }

  .col2 h1,
  .col3 h1,
  .col4 h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.bold {
  font-weight: bold;
}
