.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media only screen and (max-width: 780px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 521px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
}
